#signcontainer,
#head {
  color: rgb(232, 232, 223);
  background-color: rgba(1, 8, 10, 0.35) 0px 5px 15px;
  width: 50%;
  margin: auto;
  flex-direction: column;
  text-align: left;
  box-shadow: 'dark-lg';
  transition-property: all;
  transition-duration: 3s;
}
#signcontainer:hover,
#head :hover {
  width: 100%;
  background-color: rgb(33, 31, 3);
}

#buttonsign,
#buttonlogin {
  transition-property: all;
  transition-duration: 5s;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  padding: 2%;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: beige;
  /* background-color: - */
}
#buttonsign:hover,
#buttonlogin:hover {
  background-color: aqua;
  width: 100%;
}

#head {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  background-color: rgb(151, 52, 52);
  padding: 5px;
  font-weight: bold;
  /* background-color:black */
}
#head:hover {
  background-color: rgb(gold);
  transition-delay: 2sec;
  transition: 2sec;
  -webkit-transition: 2sec;
  -moz-transition: 2sec;
  -ms-transition: 2sec;
  -o-transition: 2sec;
}
#custo {
  font: bold;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0);
}

#FULLDIV {
  background-color: rgb(34, 45, 40);
  margin: auto;
  text-align: center;
  width: 50%;
  transition-property: all;
  transition-duration: 10s;
}
#FULLDIV:hover {
  background-color: rgb(151, 52, 52);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

#headingname {
  text-decoration: overline;
  text-align: left;

  margin-right: 80px;
  font-family: 'Times New Roman', Times, serif, 100px;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 1s;
  background-color: transparent;
}
#headingname {
  color: gold;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}
.inputsize {
  padding: 5px;
  /*color: blue;
        */
  margin-top: 10px;
  transition-property: all;
  transition-duration: 5s;
}
.inputsize:hover {
  border-radius: 100px;

  font-size: 20px;
  background-color: blanchedalmond;
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition-duration: 3sec;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.inputsize:hover {
  color: gold;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#buttonlogin {
  width: 300px;
  background-color: bisque;
}
.inputsize {
  width: 100%;
  height: 100%;
}
#logina {
  text-align: center;
  color: teal;
  font: inherit;
  font-size: 14px;
}

#pagechangediv {
  border-color: 2px solid red;
}
